@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "tailwindcss";
@font-face {
  font-family: "Bein Arabic";
  src: url("../../public/fonts/bein-ar-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@theme {
  --color-main: #d73b13;
  --color-bg: #181818;
  --color-text: #ededed;
  --color-bgb: #18181880;
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
  font-family: "Roboto Flex", sans-serif;
}
:lang(ar),
[lang="ar"] {
  font-family: "Bein Arabic", "Roboto Flex";
}
::selection {
  background: var(--color-main);
  color: var(--color-text);
}
