@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@font-face {
  font-family: 'Bein Arabic';
  src: url('../../public/fonts/bein-ar-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@theme {
  --color-main: #d73b13;
  --color-bg: #181818;
  --color-text: #ededed;
  --color-bgb: #18181880;
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
  font-family: 'Inter', sans-serif;
}
:lang(ar),
[lang='ar'] {
  font-family: 'Bein Arabic', 'Inter';
}
::selection {
  background: var(--color-main);
  color: var(--color-text);
}

@keyframes scroll-indicator {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}
.animate-scroll-indicator {
  animation: scroll-indicator 1.5s infinite ease-in-out;
}
